<div id="wrapper">
    <div ng-include="'app/views/navbar-view.html'"></div>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Configuración de Precios</h1>
                    </div>
                </div>
                <div class="row" id="precios">
                    <div class="col-lg-12">
                            <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="form-group venta-panel-heading">
                                    <strong>Precios</strong>
                                </div>
                            </div>
                          
                           
                    </div>
                </div>
                
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
</div>