<div id="wrapper" ng-init='init()'>
    <div ng-include="'app/views/navbar-view.html'"></div>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Venta</h1>
                    </div>
                </div>


                <div class="col-lg-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Ingresar producto
                        </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Descripción</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                </tr>
                             </thead>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" name="number" />
                                </td>
                                <td>
                                    <input class="btn btn-info" type="submit" value=">" ng-click="addProducto(producto)">
                                </td>

                            </tr>
                        </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="form-group venta-panel-heading">
                                <strong>Venta </strong>{{date}}
                                <label class="checkbox-inline pull-right"><input type="checkbox">Tarjeta de crédito</label>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Cant.</th>
                                        <th>Producto</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="producto in productosVenta">
                                        <td>{{producto.nombre}}</td>
                                        <td>{{producto.precio | currency : symbol : fractionSize}}</td>
                                        <td>
                                           <input class="btn btn-danger pull-right" type="submit" value="X" ng-click="removeProducto(producto)">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="span4 panel-footer">
                            Total: {{getTotalVenta() | currency : symbol : fractionSize}}
                            <input class="btn btn-info pull-right" type="submit" value="Confirmar" ng-click="guardarVenta(productosVenta)">
                        </div>
                    </div>
                </div>
                
                
                
                
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
</div>